In [13]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

%matplotlib inline

In [14]:
symptoms_df = pd.read_csv('../Resources/2021VAERSSYMPTOMS.csv')
symptoms_df.shape

(48110, 11)

In [15]:
symptoms_df.columns

Index(['VAERS_ID', 'SYMPTOM1', 'SYMPTOMVERSION1', 'SYMPTOM2',
       'SYMPTOMVERSION2', 'SYMPTOM3', 'SYMPTOMVERSION3', 'SYMPTOM4',
       'SYMPTOMVERSION4', 'SYMPTOM5', 'SYMPTOMVERSION5'],
      dtype='object')

In [16]:
symptoms_df

,VAERS_ID,SYMPTOM1,SYMPTOMVERSION1,SYMPTOM2,SYMPTOMVERSION2,SYMPTOM3,SYMPTOMVERSION3,SYMPTOM4,SYMPTOMVERSION4,SYMPTOM5,SYMPTOMVERSION5
0,916600,Dysphagia,23.1,Epiglottitis,23.1,NaN,NaN,NaN,NaN,NaN,NaN
1,916601,Anxiety,23.1,Dyspnoea,23.1,NaN,NaN,NaN,NaN,NaN,NaN
2,916602,Chest discomfort,23.1,Dysphagia,23.1,Pain in extremity,23.1,Visual impairment,23.1,NaN,NaN
3,916603,Dizziness,23.1,Fatigue,23.1,Mobility decreased,23.1,NaN,NaN,NaN,NaN
4,916604,Injection site erythema,23.1,Injection site pruritus,23.1,Injection site swelling,23.1,Injection site warmth,23.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
48105,1113920,Nasal discomfort,23.1,Night sweats,23.1,Platelet count,23.1,Platelet count decreased,23.1,Pyrexia,23.1
48106,1113920,Rash,23.1,SARS-CoV-2 test,23.1,NaN,NaN,NaN,NaN,NaN,NaN
48107,1113963,Haemophagocytic lymphohistiocytosis,23.1,SARS-CoV-2 test,23.1,NaN,NaN,NaN,NaN,NaN,NaN
48108,1115045,Death,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48109,1115348,Death,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
vax_df = pd.read_csv('../Resources/2021VAERSVAX.csv')
vax_df.shape

(34630, 8)

In [18]:
vax_df.columns

Index(['VAERS_ID', 'VAX_TYPE', 'VAX_MANU', 'VAX_LOT', 'VAX_DOSE_SERIES',
       'VAX_ROUTE', 'VAX_SITE', 'VAX_NAME'],
      dtype='object')

In [19]:

data_df = pd.read_csv('../Resources/2021VAERSDATA.csv', encoding= 'unicode_escape')

data_df.shape

C:\Users\D\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (7,12,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(34121, 35)

In [20]:
data_df

data_df.columns

Index(['VAERS_ID', 'RECVDATE', 'STATE', 'AGE_YRS', 'CAGE_YR', 'CAGE_MO', 'SEX',
       'RPT_DATE', 'SYMPTOM_TEXT', 'DIED', 'DATEDIED', 'L_THREAT', 'ER_VISIT',
       'HOSPITAL', 'HOSPDAYS', 'X_STAY', 'DISABLE', 'RECOVD', 'VAX_DATE',
       'ONSET_DATE', 'NUMDAYS', 'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY',
       'OTHER_MEDS', 'CUR_ILL', 'HISTORY', 'PRIOR_VAX', 'SPLTTYPE',
       'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT', 'OFC_VISIT', 'ER_ED_VISIT',
       'ALLERGIES'],
      dtype='object')

In [21]:
data_df['VAERS_ID'].nunique

<bound method IndexOpsMixin.nunique of 0         916600
1         916601
2         916602
3         916603
4         916604
          ...
34116    1113917
34117    1113920
34118    1113963
34119    1115045
34120    1115348
Name: VAERS_ID, Length: 34121, dtype: int64>

In [22]:
id_counts = data_df['VAERS_ID'].value_counts()
id_counts.head()

919551     1
916789     1
1000738    1
1049097    1
1081155    1
Name: VAERS_ID, dtype: int64

In [23]:
id_counts.value_counts()

1    34121
Name: VAERS_ID, dtype: int64

In [25]:
data_df.describe()

,VAERS_ID,AGE_YRS,CAGE_YR,CAGE_MO,HOSPDAYS,NUMDAYS,FORM_VERS
count,3.412100e+04,30933.000000,26791.000000,83.000000,2857.000000,31194.000000,34121.000000
mean,9.813066e+05,51.471923,51.135381,0.084337,3.752888,21.077066,1.998124
std,6.204535e+04,18.521742,18.633316,0.178395,3.878654,644.834400,0.043269
min,9.166000e+05,0.080000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,9.264640e+05,37.000000,36.000000,0.000000,1.000000,0.000000,2.000000
50%,9.468370e+05,50.000000,49.000000,0.000000,3.000000,1.000000,2.000000
75%,1.047069e+06,65.000000,65.000000,0.000000,5.000000,3.000000,2.000000
max,1.115348e+06,115.000000,106.000000,0.700000,39.000000,36896.000000,2.000000

In [24]:
data_df.nunique(axis=0)
data_df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,VAERS_ID,AGE_YRS,CAGE_YR,CAGE_MO,HOSPDAYS,NUMDAYS,FORM_VERS
count,34121.000000,30933.000000,26791.000000,83.000000,2857.000000,31194.000000,34121.000000
mean,981306.591190,51.471923,51.135381,0.084337,3.752888,21.077066,1.998124
std,62045.354319,18.521742,18.633316,0.178395,3.878654,644.834400,0.043269
min,916600.000000,0.080000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,926464.000000,37.000000,36.000000,0.000000,1.000000,0.000000,2.000000
50%,946837.000000,50.000000,49.000000,0.000000,3.000000,1.000000,2.000000
75%,1047069.000000,65.000000,65.000000,0.000000,5.000000,3.000000,2.000000
max,1115348.000000,115.000000,106.000000,0.700000,39.000000,36896.000000,2.000000

In [26]:
data_df.columns =

Index(['VAERS_ID', 'RECVDATE', 'STATE', 'AGE_YRS', 'CAGE_YR', 'CAGE_MO', 'SEX',
       'RPT_DATE', 'SYMPTOM_TEXT', 'DIED', 'DATEDIED', 'L_THREAT', 'ER_VISIT',
       'HOSPITAL', 'HOSPDAYS', 'X_STAY', 'DISABLE', 'RECOVD', 'VAX_DATE',
       'ONSET_DATE', 'NUMDAYS', 'LAB_DATA', 'V_ADMINBY', 'V_FUNDBY',
       'OTHER_MEDS', 'CUR_ILL', 'HISTORY', 'PRIOR_VAX', 'SPLTTYPE',
       'FORM_VERS', 'TODAYS_DATE', 'BIRTH_DEFECT', 'OFC_VISIT', 'ER_ED_VISIT',
       'ALLERGIES'],
      dtype='object')

In [ ]:
data_cut_df=symptoms_df[['VAERS_ID', 'AGE_YRS', 'SEX']]
data_cut_df